



/*MOBILE*/
@media (max-width: 599px) {

   header {
      margin: 4vw 2rem;
      justify-content: space-between;
      width: 85%;
   }

   header img {
      width: 32vw;
   }

   header button {
      width: 18.2vw;
      height: 8vw;
      font-size: 2.3vw;

   }

   .style-title {
      width: 76vw;
      text-align: center;
      font-size: 6.8vw;
   }


   .first-p {
      width: 80vw;
      font-size: 3.6vw;
   }


   .btn-started {
      font-size: 2.1vw;
      width: 30vw;
      height: 7vw;
   }


   .mockups {
      width: 80vw;
      margin-top: 15vw;
   }

   .dice {
      gap: 12vw;
      align-items: center;
      flex-direction: column;
   }

   .dice img {
      padding-left: 5vw;
      width: 5.8vw;
   }


   .number {
      display: flex;
      justify-content: center;
      font-size: 9.0vw;
   }

   .text-dice {
      font-size: 3.5vw;
      width: 36vw;

   }



   /*Argument*/

   .arg-general {
      text-align: center;
      gap: 43px;
      height: 30vw;
      padding: 81vw 5vw;
      flex-direction: column-reverse;
   }


   /*Content-General*/

   .content-img img {
      width: 70vw;
   }


   .content-text {
      width: 76vw;
      height: 40vw;
   }

   .content-text h2 {
      width: 76vw;
      font-size: 4.0vw;
   }


   .content-text p {
      font-size: 3.2vw;
      width: 76vw;
      height: 27vw;
   }




   .argument-1 {
      padding-bottom: 2vw;
      text-align: center;
   }

   .text-arg1 {
      gap: 5vw;
      display: flex;
      flex-direction: column;
   }

   .argument-2 {
      padding-top: 0px;
      flex-direction: column;
   }

   .argument-2 p {
      width: 76vw;
   }

   .argument-3 {
      padding-bottom: 15vw;
      padding-top: 85vw;
   }

   .ready {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70vw;
   }


   /*BG*/

   .bg-general {
      height: 29vw;
   }

   .curved-top-bg1 {
      background-image: url(/images/bg-section-top-mobile-1.svg);
   }

   .curved-bot-bg1 {
      background-image: url(/images/bg-section-bottom-mobile-1.svg);
   }

   .curved-top-bg2 {
      background-image: url(/images/bg-section-top-mobile-2.svg);
   }

   .curved-bot-bg2 {
      background-image: url(/images/bg-section-bottom-mobile-2.svg);
   }

   .curved-bg-footer {
      height: 13vw;
      background-image: url(/images/bg-footer-top-mobile.svg);
   }


   /*Footer*/

   .footer-general {
      height: 116vw;
      padding-top: 0vw;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 3vw;
   }

   /*Newsletter*/


   .newsletter {
      width: 77vw;
   }

   .newsletter h2 {
      font-size: 7.5vw;
      width: 80vw;
   }

   .newsletter p {
      width: 80vw;
      font-size: 3.6vw;
   }

   form {
      gap: 2vw;
      align-items: flex-end;
      flex-direction: column;
   }

   .input-text {
      width: 77vw;
      height: 6.4vw;
      border-radius: 4.5vw;
      margin-right: 0vw;
   }

   .input-btn {
      font-size: 2.5vw;
      height: 6.8vw;
      width: 34vw;
      border-radius: 5.5vw;
   }


   /*Contact*/

   .logo-box {
      width: 73vw;
      ;
   }

   .logo-footer {
      width: 35vw;
   }

   .social-networks img {
      width: 3.3vw;
      filter: brightness(10);
   }

   .contact {
      gap: 3vw;
      align-items: center;
   }

   .contact p {
      width: 77vw;
      font-size: 3.6vw;
   }

   .contact span {
      font-size: 2.4vw;
      width: 73vw;
   }

   span img {
      width: 3.4vw;
   }

   .social-networks {
      width: 72vw;
      margin-top: 2.5vw;
   }
}